html {
  --color-primary: hsl(225deg 82% 32%);
  --color-primary-light: hsl(225deg 64% 95%);
  --color-secondary: hsl(335deg 100% 93%);
  --color-black: hsl(0deg 0% 20%);
  --color-white: hsl(0deg 0% 100%);
}

body {
  color: var(--color-primary);
}
