@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  --color-primary: hsl(225deg 82% 32%);
  --color-primary-light: hsl(225deg 64% 95%);
  --color-secondary: hsl(335deg 100% 93%);
  --color-black: hsl(0deg 0% 20%);
  --color-white: hsl(0deg 0% 100%);
  --color-error: hsl(0deg 90% 60%);

  /* font sizes */
  --f1: 1rem;
  --f2: 3rem;

  --border-radius: 5px;

  --max-page-width: 1200px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
}
